<!doctype html>
<html>
	<head>

		<title>RISC-V: Montador & Simulador</title>
		<meta charset="utf-8"/>
		<link rel="shortcut icon" type="image/icon" href="{{url_for('static',filename='img/favicon.ico')}}"/>

		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/lib/codemirror.css')}}">
		<script src="{{url_for('static',filename='codemirror/lib/codemirror.js')}}"></script>

		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/addon/fold/foldgutter.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/addon/dialog/dialog.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/theme/monokai.css')}}">
		<script src="{{url_for('static',filename='codemirror/mode/riscv/riscv.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/search/searchcursor.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/search/search.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/dialog/dialog.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/edit/matchbrackets.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/edit/closebrackets.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/comment/comment.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/wrap/hardwrap.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/fold/foldcode.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/fold/brace-fold.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/keymap/sublime.js')}}"></script>



		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}"  media="screen,projection"/>


		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
		<script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>


		<style type="text/css">
		  .CodeMirror {border: 0px solid #eee; line-height: 1.3; height: 350px; width: 600px;}
		  .CodeMirror-linenumbers { padding: 0 8px; }
		</style>


		<link rel="stylesheet" href="{{url_for('static',filename='css/riscv.css')}}">

	</head>
	<body>
		<div class="container">	
			<h1>UnB | RISC-V</h1>

			<div id="entrada">
				<div id="code-editor"></div>	

				<button id="assemble_button" class="btn waves-effect waves-light" type="submit" name="action">Assemble
					<i class="fa fa-gears fa-1g"></i> 
				</button>	
			</div>

			<div id="saida">
				<form action="">
					<div class="col s2" id="errors" >Console Output</div>					
					<b>Format:</b><br>
				
					    <label class="format_input">
					      <input class="with-gap" value="bin" name="format_input_radio" type="radio" checked />
					      <span>BIN</span>
					    </label>
				
  				
					    <label class="format_input">
					      <input class="with-gap" value="hex" name="format_input_radio" type="radio"  />
					      <span>HEX</span>
					    </label>
					
  				
					    <label class="format_input"> 
					      <input class="with-gap" value="mif" name="format_input_radio" type="radio"  />
					      <span>MIF</span>
					    </label>
				

					<div class="col s2" id="code" >codigo</div>
					<div class="col s2" id="memory" >dados</div>		


					
					<button class="btn waves-effect waves-light" type="submit" name="action">Download
						<i class="material-icons right">send</i>
					</button>
				</form>
			</div>

		</div>


	</body>
	<script src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
	<script>

	  //var value = "# RISC-V Assembly Code\n\n.data\n    .asciiz \"texto\"\n\n.text\n    sub x9, zero, 10\n    add x10, ra, a0\n\n    ABCDFEabcdef";
	  var value = "# RISC-V Assembly Code\n.data\n\tword_teste: .word 26\n\tstr_teste: .asciiz \"\\Hello, World!\\nTesting\\tEscaping!\"\n\n.text\n\tlw x4, x5, word_teste\n\taddi x9, zero, 10\n\taddi x9, zero, -3\n\tadd x10, x9, x4\n\tsw x10,8(x8)";
	  
	  var editor = CodeMirror(document.getElementById("code-editor"), {
	    value: value,
	    lineNumbers: true,
	    mode: "riscv",
	    keyMap: "sublime",
	    autoCloseBrackets: true,
	    matchBrackets: true,
	    showCursorWhenSelecting: true,
	    theme: "monokai",
	    tabSize: 4,
	    autofocus: true
	  });

	  var code;
	  var memory;
	  var errors;


		display_data = function(field,data,data_format){
			if (data == ""){
				$("#"+field).html("No Output")
			}else{
				if (field == "code"){
					for(i=0; i<data.length; i++){
				       	$("#"+field).html($("#"+field).html()+data[i]+"<br>" );	
				    }	
				}else if(field == "memory"){
					if ( data_format == "bin" || data_format == "hex"){
			        	for(i=0; i<data.length-4; i=i+4){
				        		$("#"+field).html($("#"+field).html()+data[i+3]+data[i+2]+data[i+1]+data[i]+"<br>" );	
			        	}
			        }else{
			        	for(i=0; i<data.length; i++){
				        		$("#"+field).html($("#"+field).html()+data[i]+"<br>" );	
			        	}
			        }
				}else if(field == "errors"){
		        	for(i=0; i<data.length; i++){
		        		$("#"+field).html($("#"+field).html()+errors[i]+"<br>" );	
		        	}
				}	
			}
		}


	  $("#assemble_button").click(function(){
	  	
	  	$("#code").html("")
	  	$("#errors").html("")
	  	$("#memory").html("")

	  	console.log(editor.getValue())

	    $.post("/assemble",{code:editor.getValue()}, function(data, status){
	        if (status == "success"){
	        	
	        	assmblr_response = JSON.parse(data);

	        	code = assmblr_response['code'];
	        	memory = assmblr_response['memory'];
	        	errors = assmblr_response['errors'];
	        		        	

	        	
	        	data_format = $("input[name=format_input_radio]:checked")[0].value
	        	
	        	display_data("code", code[data_format]);
	        	display_data("memory", memory[data_format]);
	        	display_data("errors", errors);

	        }	        
	    });

	});


	$("input[name=format_input_radio]").change(function(){

		  	$("#code").html("")
		  	$("#errors").html("")
		  	$("#memory").html("")
			data_format = this.value
			console.log(data_format)
			console.log(memory)
			console.log(code)

			display_data("code", code[data_format], data_format);
	    	display_data("memory", memory[data_format], data_format);
	    	display_data("errors", errors,data_format);

	});

	</script>


</html>