<!doctype html>
<html>
	<head>

		<title>UnB | RISC-V: Montador & Simulador</title>
		<meta charset="utf-8"/>
		<link rel="shortcut icon" type="image/icon" href="{{url_for('static',filename='img/favicon.ico')}}"/>

		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/lib/codemirror.css')}}">
		<script src="{{url_for('static',filename='codemirror/lib/codemirror.js')}}"></script>

		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/addon/fold/foldgutter.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/addon/dialog/dialog.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='codemirror/theme/monokai.css')}}">
		<script src="{{url_for('static',filename='codemirror/mode/riscv/riscv.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/search/searchcursor.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/search/search.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/dialog/dialog.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/edit/matchbrackets.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/edit/closebrackets.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/comment/comment.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/wrap/hardwrap.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/fold/foldcode.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/addon/fold/brace-fold.js')}}"></script>
		<script src="{{url_for('static',filename='codemirror/keymap/sublime.js')}}"></script>



		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}"  media="screen,projection"/>


		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
		<script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>


		<style type="text/css">
		  .CodeMirror {border: 0px solid #eee; line-height: 1.3; height: 360px; width: auto;}
		  .CodeMirror-linenumbers { padding: 0 8px; }
		</style>


		<link rel="stylesheet" href="{{url_for('static',filename='css/riscv.css')}}">

	</head>
	<body>
		<header>

		    <ul id="slide-out" class="sidenav sidenav-fixed">
		      <li>

				<img class="responsive-img" height="150" width="150" src="{{url_for('static',filename='img/unb-logo.png')}}">
				<img class="responsive-img" height="150" width="150" src="{{url_for('static',filename='img/riscv-logo.png')}}">

		      </li>
		      <li><a id="menu_entrada" href="#entrada">Code Editor</a></li>
		      <li><a id="menu_saida" href="#saida">Assemble Results</a></li>
		      <li><a id="menu_simulator" href="#simulator">Simulator</a></li>
		      <hr>
		      <li><a id="menu_instructions" href="#instructions">Instructions</a></li>
		      <li><a id="menu_about" href="#aboutus">About Us</a></li>
		    </ul>
		    
	    </header>      	
	    <main>
			<div>	

				<section id="entrada">
					<h2 class="section_title" >Code Editor</h2>
					<div id="code-editor"></div>	

					<button id="assemble_button" class="btn waves-effect waves-light" type="submit" name="action">Assemble
						<i class="fa fa-gears fa-1g"></i> 
					</button>
					<div class="col s2" id="errors" >Console Output</div>	
				
					<button id="run_button" class="btn waves-effect waves-light" type="submit" name="action">Run
						<i class="fa fa-gears fa-1g"></i> 
					</button>
				
					<button id="step_button" class="btn waves-effect waves-light" type="submit" name="action">Step
						<i class="fa fa-gears fa-1g"></i> 
					</button>


				</section>

				<section id="saida">
					<h2 class="section_title" >Assemble Results</h2>
					<form action="">
											
						<b>Format:</b><br>
					
						    <label class="format_input">
						      <input class="with-gap" value="bin" name="format_input_radio" type="radio" checked />
						      <span>BIN</span>
						    </label>
					
	  				
						    <label class="format_input">
						      <input class="with-gap" value="hex" name="format_input_radio" type="radio"  />
						      <span>HEX</span>
						    </label>
						
	  				
						    <label class="format_input"> 
						      <input class="with-gap" value="mif" name="format_input_radio" type="radio"  />
						      <span>MIF</span>
						    </label>
					

						<div class="col s2" id="code" >codigo</div>
						<div class="col s2" id="memory" >dados</div>		


						
						<button class="btn waves-effect waves-light" type="submit" name="action">Download
							<i class="material-icons right">send</i>
						</button>
					</form>
				</section>

				<section id="simulator">
					<h2 class="section_title">Simulator</h2>

					<div id="simulation_menu" >
						<button id="run_simulation" class="btn waves-effect waves-light" type="submit" name="action">run</button>
						<button id="step_simulation" class="btn waves-effect waves-light" type="submit" name="action">step</button>
						<button id="reset_simulation" class="btn waves-effect waves-light" type="submit" name="action">reset</button>
					</div>

					
					<div id="simulation_assembled_code">
						<h4>assembled code</h4>
						<table id="code_table" >
					        <thead>
					            <tr>
					            	<th>Line</th>
					             	<th>Code HEX</th>
					              	<th>Instruction</th>
					          	</tr>
					        </thead>

					        <tbody>
					        	<tr>
					        		<td>1</td>
					            	<td>0x00000000</td>
					            	<td>nop x0, x0, x0</td>
					        	</tr>
					        	<tr>
					           		<td>2</td>
					           		<td>0x00000000</td>
					           		<td>nop x0, x0, x0</td>
					        	</tr>
					        	<tr>
					           		<td>3</td>
					           		<td>0x00000000</td>
					           		<td>nop x0, x0, x0</td>
					        	</tr>					        	
					        </tbody>
					    </table>
						
					</div>

					
					<div id="simulation_registers">
				    	<h4>registers</h4>
				     	<table id="register_table" class="centered striped" >
				        <thead>
				            <tr>
				             	<th>Register</th>
				              	<th>Value</th>
				             	<th>Register</th>
				              	<th>Value</th>				              	
				          	</tr>
				        </thead>

				        <tbody>
				        	<tr>
				            	<td id="reg_x0">x0</td>
				            	<td id="reg_x0_val" contenteditable>0000000000000000</td>
								<td id="reg_x16">x16</td>
								<td id="reg_x16_val" contenteditable>0000000000000000</td>            
				        	</tr>
				        	<tr>
				            	<td id="reg_x1">x1</td>
				            	<td id="reg_x1_val" contenteditable>0000000000000000</td>
				            					        		<td id="reg_x17">x17</td>
								<td id="reg_x17_val" contenteditable>0000000000000000</td>
           
				        	</tr>
			        		<tr>
				        		<td id="reg_x2">x2</td>
								<td id="reg_x2_val" contenteditable>0000000000000000</td>

				        		<td id="reg_x18">x18</td>
								<td id="reg_x18_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x3">x3</td>
								<td id="reg_x3_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x19">x19</td>
								<td id="reg_x19_val" contenteditable>0000000000000000</td>
							
							</tr>
			        		<tr>
				        		<td id="reg_x4">x4</td>
								<td id="reg_x4_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x20">x20</td>
								<td id="reg_x20_val" contenteditable>0000000000000000</td>
							</tr>
			        		<tr>
				        		<td id="reg_x5">x5</td>
								<td id="reg_x5_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x21">x21</td>
								<td id="reg_x21_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x6">x6</td>
								<td id="reg_x6_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x22">x22</td>
								<td id="reg_x22_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x7">x7</td>
								<td id="reg_x7_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x23">x23</td>
								<td id="reg_x23_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x8">x8</td>
								<td id="reg_x8_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x24">x24</td>
								<td id="reg_x24_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x9">x9</td>
								<td id="reg_x9_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x25">x25</td>
								<td id="reg_x25_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x10">x10</td>
								<td id="reg_x10_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x26">x26</td>
								<td id="reg_x26_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x11">x11</td>
								<td id="reg_x11_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x27">x27</td>
								<td id="reg_x27_val" contenteditable>0000000000000000</td>

							</tr>
			        		<tr>
				        		<td id="reg_x12">x12</td>
								<td id="reg_x12_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x28">x28</td>
								<td id="reg_x28_val" contenteditable>0000000000000000</td>
							
							</tr>
			        		<tr>
				        		<td id="reg_x13">x13</td>
								<td id="reg_x13_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x29">x29</td>
								<td id="reg_x29_val" contenteditable>0000000000000000</td>


							</tr>
			        		<tr>
				        		<td id="reg_x14">x14</td>
								<td id="reg_x14_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x30">x30</td>
								<td id="reg_x30_val" contenteditable>0000000000000000</td>
							
							</tr>
			        		<tr>
				        		<td id="reg_x15">x15</td>
								<td id="reg_x15_val" contenteditable>0000000000000000</td>
				        		<td id="reg_x31">x31</td>
								<td id="reg_x31_val" contenteditable>0000000000000000</td>

							</tr>

				        </tbody>
				      </table>
					</div>


					<div id="simulation_memory_map" >
						<h4>memory map</h4>
						<div id="memory_map_table">
							<table id="" class="centered striped" >
						        <thead>
						            <tr>
						             	<th></th>
						              	<th>0x03</th>
						              	<th>0x02</th>
						              	<th>0x01</th>
						              	<th>0x00</th>
						          	</tr>
						        </thead>
						        
						        <tbody id="memory_map_table_rows">
						        </tbody>
						    
					    	</table>
						</div>
					</div>

					<div id="simulation_console">
						<h4>console</h4>
						<div id="simulation_output_screen">
							>>		
						</div>
						<div id="	" contenteditable></div>

					</div>

				</section>

			</div>
		</main>
		<footer>
			
		</footer>

	</body>
	<script src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
	<script>

		$(".dropdown-trigger").dropdown();

		document.addEventListener('DOMContentLoaded', function() {
	    	var elems = document.querySelectorAll('.sidenav');
	    	var instances = M.Sidenav.init(elems, options);
	  	});

		// Initialize collapsible (uncomment the lines below if you use the dropdown variation)
		// var collapsibleElem = document.querySelector('.collapsible');
		// var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

		// Or with jQuery

		// Simulation data dictionary

		var convert_data = function(n,base,pad,sign){
			aux = n.toString(base)
			if(aux.length<=pad){
				pad_n = pad-aux.length;
			}
			return(sign.repeat(pad_n)+aux);
		}



		var register_values_to_json = function(){
			
			registers_json = {};

			for(var i=0; i<32; i++){
				var hex_aux = $("#reg_x"+i+"_val").html();
				registers_json[convert_data(i,2,5,"0")] = convert_data(parseInt(hex_aux,16),2,32,"0");
				//console.log($("#reg_x"+i+"_val").html());
			}
			//console.log(registers_json);
			return registers_json;

		};

		//console.log(register_values_to_json());

		// global variable
		var program_data;
		var initialize_program_data = function(){

			var registers = {};
			for(var i=0; i<32; i++){
				registers[convert_data(i,2,5,"0")] = convert_data(0,16,8,"0");
				
			};
		
        	for(var i=0; i<32; i++){        		
        		$("#reg_x"+i+"_val").html("0x"+registers[convert_data(i,2,5,"0")]);
        	};

			var memory_map_table_rows_current = $("#memory_map_table_rows").html("");
			for(var i=0; i<32; i=i+4 ){
				var memory_map_table_rows_current = $("#memory_map_table_rows").html();

$("#memory_map_table_rows").html(memory_map_table_rows_current+"<tr><td id=\"mem_pos_"+i+"_title\"><b>0x"+convert_data(i,16,8,"0")+"</b></td><td id=\"mem_pos_"+(i+3)+"\" contenteditable>00000000</td><td id=\"mem_pos_"+(i+2)+"\" contenteditable>00000000</td><td id=\"mem_pos_"+(i+1)+"\" contenteditable>00000000</td><td id=\"mem_pos_"+i+"\" contenteditable>00000000</td></tr>");

        	}

        	$("#simulation_output_screen").html(">>");

        	program_data = {
        		"code" : "",
        		"memory" : "",
        		"registers": registers,
				"program_counter": 0,
				"console_input": "",
				"console_output": ""
        	}
		};
		initialize_program_data();


		var assemble = function(){
			$("#code").html("")
		  	$("#errors").html("")
		  	$("#memory").html("")

		  	//console.log(editor.getValue())

		    $.post("/assemble",{code:editor.getValue()}, function(data, status){
		        if (status == "success"){
		        	
		        	assmblr_response = JSON.parse(data);

		        	code = assmblr_response['code'];
		        	memory = assmblr_response['memory'];
		        	errors = assmblr_response['errors'];
		        	
		        	if( errors == "" ){
		        		$("#run_button").removeClass("disabled");
		        		$("#step_button").removeClass("disabled");
		        	}else{
		        		$("#run_button").addClass("disabled");
		        		$("#step_button").addClass("disabled");
		        	}
		        	data_format = $("input[name=format_input_radio]:checked")[0].value
		        	
		        	display_data("code", code[data_format], data_format);
		        	display_data("memory", memory[data_format], data_format);
		        	display_data("errors", errors,data_format);


		        	program_data = {
		        		"code" : code["bin"],
		        		"memory" : memory["bin"],
		        		"registers": register_values_to_json(),
						"program_counter": 0,
						"console_input": "",
						"console_output": ""
		        	}

		        }	        

				//console.log(program_data['registers']);

	    });
		}

		var run_simulation = function(step_count){
			//console.log(JSON.stringify(program_data['code']))
			//console.log(JSON.stringify(program_data['memory']))
			
			program_data['registers'] = register_values_to_json();
			//console.log(JSON.stringify(program_data['registers']) );
			//console.log(program_data['registers']);
			
			simulation_info = {
								code: 				JSON.stringify(program_data['code']),
								memory: 			JSON.stringify(program_data['memory']),
								registers: 			JSON.stringify(program_data['registers']),
								program_counter: 	JSON.stringify(program_data['program_counter']),
								console_input: 		JSON.stringify(program_data['console_input']),
								step_count: 		step_count							
							}

			$.post("/run", simulation_info, function(data, status){
		        if (status == "success"){
		        	
		        	simulator_response = JSON.parse(data);
		        	//$("#simulation_registers").html(simulator_response['registers'])
		        	console.log(simulator_response);
		        	for( i=0; i<32; i++){
		        		register_number = i.toString(2)
		        		if(register_number.length<5){
		        			pad = 5 - register_number.length;
		        			register_number = "0".repeat(pad)+register_number;
		        		}
		        		//$("#reg_x"+i+"_val").html("0x"+simulator_response['registers'][register_number]);
		        		$("#reg_x"+i+"_val").html("0x"+convert_data(parseInt(simulator_response['registers'][register_number], 2), 16,8,"0") );
		        	
		        			
		        	}


		        	//$("#simulation_memory_map").html(simulator_response['memory_map'])
					$("#memory_map_table_rows").html("");
					for(i=0; i<simulator_response['memory_map'].length; i=i+4 ){
						memory_map_table_rows_current = $("#memory_map_table_rows").html()

$("#memory_map_table_rows").html(memory_map_table_rows_current+"<tr><td id=\"mem_pos_"+i+"_title\"><b>0x"+convert_data(i,16,8,"0")+"</b></td><td id=\"mem_pos_"+(i+3)+"\" contenteditable>"+ simulator_response['memory_map'][i+3] +"</td><td id=\"mem_pos_"+(i+2)+"\" contenteditable>"+ simulator_response['memory_map'][i+2] +"</td><td id=\"mem_pos_"+(i+1)+"\" contenteditable>"+ simulator_response['memory_map'][i+1] +"</td><td id=\"mem_pos_"+i+"\" contenteditable>"+ simulator_response['memory_map'][i] +"</td></tr>");

		        	}
		        	program_data['program_counter'] = simulator_response['program_counter'];
		        	console.log(simulator_response['console_output']);

		        	$("#simulation_output_screen").html("");
		        	for(var i=0; i<simulator_response['console_output'].length; i++ ){
		        		new_console_line = ">>"+simulator_response['console_output'][i]+"<br>";
		        		console_current = $("#simulation_output_screen").html();
		        		$("#simulation_output_screen").html(console_current+new_console_line);
		        	}
		        	//console.log(assmblr_response)
		        	//console.log(simulator_response);
		        }
		    });

		} 
			
		$(document).ready(function(){
			$('.sidenav').sidenav();
			
			$("#entrada").css("display","none");
			$("#saida").css("display","none");
			$("#simulator").css("display","block");

			$("#menu_entrada").click(function(){
				$("#entrada").css("display","block");
				$("#saida").css("display","none");
				$("#simulator").css("display","none");
			});

			$("#run_button").addClass("disabled");
			$("#step_button").addClass("disabled");


			$("#menu_saida").click(function(){
				$("#entrada").css("display","none");
				$("#saida").css("display","block");
				$("#simulator").css("display","none");
			});

			$("#menu_simulator").click(function(){
				$("#saida").css("display","none");
				$("#entrada").css("display","none");
				$("#simulator").css("display","block");

			});

			$("#run_button").click(function(){
				$("#saida").css("display","none");
				$("#entrada").css("display","none");
				$("#simulator").css("display","block");

				step_count = -1; // runs until the end
				run_simulation(step_count);

			});

			$("#step_button").click(function(){
				$("#saida").css("display","none");
				$("#entrada").css("display","none");
				$("#simulator").css("display","block");

				step_count = 1; // runs one step
				run_simulation(step_count);
			});



			$("#assemble_button").click(function(){
				initialize_program_data();
				assemble();
			});

			$("#run_simulation").click(function(){
				step_count = -1; // runs until the end
				run_simulation(step_count);
			});

			$("#step_simulation").click(function(){
				step_count = 1; // runs one step
				run_simulation(step_count);
			});

			$("#reset_simulation").click(function(){
				initialize_program_data();
				assemble();
			});


		});





		//var value = "# RISC-V Assembly Code\n\n.data\n    .asciiz \"texto\"\n\n.text\n    sub x9, zero, 10\n    add x10, ra, a0\n\n    ABCDFEabcdef";
		var value = "# RISC-V Assembly Code\n.data\n\tword_teste: .word 26\n\tstr_teste: .asciiz \"\\Hello, World!\\nTesting\\tEscaping!\"\n\n.text\n\tlw x4, x5, word_teste\n\taddi x9, zero, 10\n\taddi x9, zero, -3\n\tadd x10, x9, x4\n\tsw x10,8(x8)";

		var editor = CodeMirror(document.getElementById("code-editor"), {
			value: value,
			lineNumbers: true,
			mode: "riscv",
			keyMap: "sublime",
			autoCloseBrackets: true,
			matchBrackets: true,
			showCursorWhenSelecting: true,
			theme: "monokai",
			tabSize: 4,
			autofocus: true
		});

		var code;
		var memory;
		var errors;


		display_data = function(field,data,data_format){
			if (data == ""){
				$("#"+field).html("No Output")
			}else{
				if (field == "code"){
					for(i=0; i<data.length; i++){
				       	$("#"+field).html($("#"+field).html()+data[i]+"<br>" );	
				    }	
				}else if(field == "memory"){
					if ( data_format == "bin" || data_format == "hex"){
			        	for(i=0; i<data.length-4; i=i+4){
				        		$("#"+field).html($("#"+field).html()+data[i+3]+data[i+2]+data[i+1]+data[i]+"<br>" );	
			        	}
			        }else{
			        	for(i=0; i<data.length; i++){
				        		$("#"+field).html($("#"+field).html()+data[i]+"<br>" );	
			        	}
			        }
				}else if(field == "errors"){
		        	for(i=0; i<data.length; i++){
		        		$("#"+field).html($("#"+field).html()+errors[i]+"<br>" );	
		        	}
				}	
			}
		}




	$("input[name=format_input_radio]").change(function(){

		  	$("#code").html("")
		  	$("#errors").html("")
		  	$("#memory").html("")
			data_format = this.value
			//console.log(data_format)
			//console.log(memory)
			//console.log(code)

			display_data("code", code[data_format], data_format);
	    	display_data("memory", memory[data_format], data_format);
	    	display_data("errors", errors,data_format);

	});

	</script>


</html>