body {

	font-family: 'Raleway', sans-serif;
}

#saida{

	padding:20px;
}

.format_input{
	margin:5px;
	color:black;
}

#code{

	color: #c2d2ea;
	font-family: monospace;
	background-color:black;
	width:100%; 
	height:220px; 
	overflow: auto; 
	padding:10px; 
	display: inline-block;
}

#memory{
	color: #c2d2ea;
	font-family: monospace;
	 background-color:black;
	 width:100%; 
	 height:220px; 
	 overflow: auto; 
	 padding:10px; 	  
	 display: inline-block;
}

#errors{
	color: #c2d2ea;
	font-family: monospace;
	background-color:black;
	width:100%; 
	height:220px; 
	overflow: auto; 
	padding:10px; 
	display: inline-block;
}